/* BODY CSS START */
* {
  box-sizing: border-box;
	
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
	
	
}

/* BODY CSS END */

/* HEADER CSS START */
.header {
   padding: 80px;
  text-align: center;
background-image: radial-gradient(circle, #0f8d85, #00848d, #007b92, #007194, #006692, #006e9c, #0077a6, #007fb0, #009ec7, #00bdda, #2cdce8, #5ffbf1);
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
	animation: slicktitle 1s ease 0s 1 normal both;
  font-size: 40px;
}

.header p {
	animation: slicktitledescription 1s ease 1s 1 normal both;
}
 
@keyframes slicktitle {
	0% {
		opacity: 0;
		transform: rotate(-540deg) scale(0);
	}

	100% {
		opacity: 1;
		transform: rotate(0) scale(1);
	}
}


@keyframes slicktitledescription {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* HEADER CSS END */

/* NAVBAR CSS START */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}



/* NAVBAR CSS END */


/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
	overflow: auto;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.phonealert {
	display: none;
}

/* RESPONSIVE CSS START */
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    width: 100%;
	}
	.phonealert {
		display: inline;
	}
}

/* RESPONSIVE CSS END */


	 .content header{
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 border-bottom: thin solid #e4e4e4;
	 padding-bottom: 30px;
 }

.content main{
	margin-top: 50px;
	
}

	form, .content{
	max-width: 400px;
	min-height: 500px;
	margin: 100px auto;
	border:  thin solid #e4e4e4;
	padding: 40px 30px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	background-color: white;
}

form select{
	display: block;
	width:  100%;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 16px;
	border:  thin solid #e4e4e4;
	background-color: white;
	color: #555;
}

	
button a:hover {
  background-color: #ddd;
  color: black;
}
button {
	float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.indev {
	  text-align: center;
	  text-decoration: none;
		color: orange;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

a {
  color: mediumaquamarine;
}


/* TABLE CSS START */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
	table-layout: fixed;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
	word-break: break-all;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* TABLE CSS END */


/* DISABLED LINKS CSS START */
.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.isDisabled > a {
  color: currentColor;
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}

/* DISABLED LINKS CSS END */

